  .act__item {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100px;
    align-items: center;
    padding: 10px 0 10px 40px;
    margin: 1rem 1rem;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  }
  
  .act__item__link {
    display: flex;
    flex-flow: row;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .act__item__pic-wrap {
    position: relative;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #4338ca;
    margin: auto;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .act__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .act__item__img:hover {
    transform: scale(1.1);
  }
  
  .act__item__info {
    padding: 24px 20px 30px;
    display: flex;
    flex-direction: row;
    line-height: 24px;
    height: 24px;
    
  }
  
  .act__item__creds {
    color: #252e48;
    font-size: 15px;
    line-height: 24px;
    height: 24px;
  }

  .act__item__text {
    color: #252e48;
    font-size: 14px;
    line-height: 24px;
  }

  .act-btn {
    display: flex;
    flex-flow: row;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
  }

  .act-btn .btn {
    width: 100%;
    margin: auto;
    margin-left: 60px;
  }
